@import './variables.scss';
@import './transition.scss';
@import './sidebar.scss';

  html,
  body,
  #app{
    height: 100%;
    background: rgba(241, 243, 247, 1);
    -moz-user-select: none; /*火狐取消选中效果*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
  }

  html {
    overflow: hidden;
    box-sizing: border-box;
    min-width: 1200px;
  }

  body {
    padding-right:0!important;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  }

//表单验证-错误提示
.el-form-item__error{
  z-index: 9;
}

//全局primary按钮
  .el-button--primary{
    background: rgba(44, 109, 236, .9);
  }

//app-main视口超出
 .app-main::-webkit-scrollbar {
      width: 6px; //隐藏掉
      height: 12px;
  }

  .app-main::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(193,193,193,1);
  }

  .app-main::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #EDEDED;
  }

*,*:before,*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,a:focus,a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
 //左侧菜单选中指示点
  .el-menu-item.is-active{
    position: relative;
    color: #fff!important;
  }
.el-menu-item.is-active::after{
    content: '';
    display: block;
    position: absolute;
    right: 45px;
    top: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}
//一级不加选中小圆点
.submenu-title-noDropdown.is-active::after{
    content: '';
    display: none;
}

.over_hidden{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.flex-align{
  display: flex;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//伪类添加标题左边框
.after_title_border {
    font-weight: 600;
    color: #1F2022;
    position: relative;
    padding-left: 8px;
  }

.after_title_border::after {
  content: "";
  display: block;
  width: 3px;
  height: 14px;
  background: linear-gradient(180deg, #358FFF 1%, #105AD2 100%);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

//修改输入框宽度
.change-width{
  .el-input__inner,.el-input{
    width: 210px;
  }
}

//日期选择器 中间的字宽度
.el-range-separator{
  min-width: 20px;
}

//标题左边框
.t_left_line{
  position: relative;
}
.t_left_line::after{
  content: '';
  display: block;
  width: 3px;
  height: 14px;
  background: linear-gradient(180deg, #358FFF 0%, #105AD2 100%);
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.action{
  margin: 0 4px;
  color: #409EFF;
  font-size: 14px;
  cursor: pointer;
}

//label超出文案的长度自定义
@each $i in 120, 160, 180 {
  .labelText#{$i} {
    width: #{$i}px;
    color: #606266;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    text-align: right;
    float: left;
    &:before{
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
    }
  }
}

//label超出文案的长度自定义
@each $i in 120, 160, 180 ,100{
  .labelTextNormal#{$i} {
    width: #{$i}px;
    color: #606266;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 28px;
    position: relative;
    float: left;
    &:before{
      content: '';
      margin-right: 4px;
    }
  }
}

@each $i in 0, 4, 6, 8, 16, 20, 24, 48 {
  .ml#{$i} {
    margin-left: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
  .mt#{$i} {
    margin-top: #{$i}px;
  }
}

@each $i in 0, 4, 6, 8, 16, 20, 24, 48{
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
}

@each $i in 800,900 {
  .width#{$i} {
    width: #{$i}px;
  }
}
