//sidebar
$menuText:#fff;
$menuActiveText:#fff;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgba(0,0,0,0);

$menuHover:#4A7BED;

$subMenuBg: linear-gradient(180deg, #2E63B7 0%, #1E8CF6 100%);
$subMenuHover:#4A7BED;

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
